<?xml version="1.0" encoding="utf-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "savne.pasar_ex.courier_app"
        versionCode = "1"
        version     = "1.0.0"
>
    <!-- versionCode es un atributo opcional
		 y solo es utilizado por Android -->

    <name>Courier APP</name>

    <content src="login.html"/>

    <description>Aplicación para courier</description>

    <author href="http://savne.net/" email="oscar.sanchez@savne.net">Oscar Sanchez</author>

    <gap:platform name="android" />
    <plugin spec="https://github.com/apache/cordova-plugin-inappbrowser" source="git"/>
    <plugin spec="https://github.com/apache/cordova-plugin-whitelist" source="git"/>
    <plugin spec="https://github.com/apache/cordova-plugin-camera" source="git"/>
    <plugin spec="https://github.com/katzer/cordova-plugin-background-mode" source="git"/>
    <plugin spec="https://github.com/apache/cordova-plugin-vibration" source="git"/>
    <plugin spec="https://github.com/apache/cordova-plugin-dialogs" source="git"/>
    <plugin spec="https://github.com/apache/cordova-plugin-geolocation" source="git"/>
    <plugin spec="https://github.com/giorgiofellipe/cordova-plugin-datecs-printer" source="git"/>
    <plugin spec="https://github.com/phonegap/phonegap-plugin-barcodescanner" source="git"/>

    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />

    <icon src="images/icon.png" />


    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" subdomains="true" />

</widget>
