<?xml version='1.0' encoding='utf-8'?>
<widget id="savne.courier_app" version="2.3.0" versionCode="6" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Courier APP</name>
    <content src="login.html" />
    <description>Aplicación para courier</description>
    <author email="oscar.sanchez@savne.net" href="http://savne.net/">Oscar Sanchez</author>
    <gap:platform name="android" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
    <icon src="www/images/icon.png" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" subdomains="true" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-background-mode" spec="^0.7.2" />
    <plugin name="cordova-plugin-datecs-printer" spec="^0.7.4" />
    <plugin name="cordova-plugin-cszbar" spec="^1.3.4" />
    <plugin name="cordova-plugin-camera" spec="~2.4.1" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.5" />
    <plugin name="cordova.plugins.diagnostic" spec="^3.7.1" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-navis-background-geolocation" spec="^1.0.2" />
    <plugin name="cordova-plugin-local-notifications" spec="https://github.com/katzer/cordova-plugin-local-notifications.git" />
</widget>
